<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28026409-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>
    <header>
      <div class="header_nav three"><a href="/" class="header_link"><h3><i class="icon-home"> </i>home</h3></a></div>
    </header>
  	<div class="hero">
  		<img src="/images/portfolio.jpg" alt="" class="full">
  		<h1>BLOG</h1>
  		<div class="subtitle">
        <h2>psshh</h2>
      </div>
  		
  	</div>
    <div>
      <% 
      var j = 0;
      for (var i=0; i < data.posts.length; i++) { 
        j++;
        if (j > 4) j = 1;
        switch (j) {
          case 1:
            postClass = "one";
            break;
          case 2:
            postClass = "two";
            break;
          case 3:
            postClass = "three";
            break;
          case 4:
            postClass = "four";
            break;
        }
        
      %>
      <section class="text_block_outer <%= postClass %>">
        <div class="text_block_inner">
          <h2><%= data.posts[i].title %></h2>
          <i><a class="blog_link" href="<%- data.posts[i].short_url %>">on tumblr</a></i>
          <article><%- data.posts[i].body %></article>
        </div>
      </section>
      <% } %>
   
    </div>
  </body>
</html>