<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="description" content="<%= page_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.min.css' />
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28026409-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>

  	<div class="hero">
      <img src="<%= hero_img_path %>" alt="" class="full">
      <h1><%= hero_h1.toUpperCase() %></h1>
      <div class="subtitle">
        <h2><%= page_description %></h2>
      </div>
    </div>

    <div class="row">

    	<section class="half text_block_outer one">
        <div class="text_block_inner">
    		  <a href="/projects"><h2>current projects</h2></a>
        </div>
    	</section>

    	<section class="half text_block_outer two">
        <div class="text_block_inner">
          <a href="/blog"><h2>blog</h2></a>
        </div>
    	</section>

    </div>

    <section class="text_block_outer three">
      <div class="text_block_inner">
        <h2>about me</h2>
        <p>I'm a full-stack developer in Charlotte, North Carolina.</p>
        <p>Although my job title is front-end developer, I like to get under the hood and mess around server-side.</p>
        <p>Right now I'm going through a phase that includes technologies such as:</p>
        <ul>
          <li><a href="http://nodejs.org">node.js</a></li>
          <li><a href="http://expressjs.com">express</a> (<a href="http://sass-lang.com">Sass</a>, <a href="http://embeddedjs.com">EJS</a>)</li>
          <li><a href="http://underscorejs.org">underscore.js</a></li>
          <li><a href="http://backbonejs.org">backbone.js</a></li>
          <li><a href="http://gruntjs.org">grunt.js</a></li>
          <li><a href="http://socket.io">socket.io</a></li>
        </ul>
        <p>In addition, I do a lot of work in more traditional environments including:</p>
        <ul>
          <li>MAMP</li>
          <li>VBScript</li>
        </ul>
      </div>
    </section>

    <section class="text_block_outer four">
      <div class="text_block_inner">
        <h2>get in touch</h2>
        <p><a href="http://github.com/thomasphorton"><i class="icon-github"></i> thomasphorton</a></p>
        <p><a href="mailto:thomasphorton@gmail.com"><i class="icon-mail"></i> thomasphorton@gmail.com</a></p>
        <p><a href="http://www.linkedin.com/profile/view?id=95691161"><i class="icon-linkedin"></i> LinkedIn</a></p>
      </div>
    </section>

  </body>
</html>